<footer class="footer">
  <div class="container">
    <span class="text-muted">
      &Copy right Reversed. <a class="text-green ml-2" href="#" target="_blank">Atutu.org</a>
    </span>
  </div>
</footer>
